:root {
    --font: 'Monserrat', sans-serif;
    --prime-font: 'Work Sans', sans-serif;
    --bg: #000;
    --main-color: #ffff40;
    --main-font-color: #fdfbfb;
    --sec-font-color: #fcf1f1b4;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    padding: 15px 20px;
    z-index: 10;
}

header.abajo {
    background: #040404;
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
}

header ul li a {
    text-decoration: none;
    color: #fff;
    margin: 0.3em;
    padding: 0.5em 1.5em;
    border-radius: 10px;
    font-weight: 700;
}

nav ul li a:hover {
    font-family: var(--prime-font);
    transition: background .8s;
    background: var(--main-color);
    font-weight: 700;
    color: black;
}

.logo {
    width: 10%;
    height: 80%;
    display: flex;
    justify-content: center;
    font-weight: 2rem;
    color: white;
    margin: 0.3em;
}

header.abajo a {
    color: #fff;
}

header.abajo ul li {
    color: #fff;
}
